body {
    background-color: #e5e7ea;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #5a6570;
}

/*_______________ Logo _________________ */
#life{
    font-family:'Great Vibes', cursive;
    font-size: 48px;
    font-weight: 400;
    color: #5a6570;
    
}
/*____________ Post Card _____________*/
.recipe-link{
    font-size: 52px;
    color: #FF6B6B;
    text-decoration: none;
}
.date_created{
    margin-right: 50px;
}

.post-image{
    width: 90%;
    height: 250px;
}
.author{
    margin-right: 20px;
}
.details-img{
    width:100%;
    height: 250px;
}
a:hover{
    color: #0698a8;
}

/*_______________  Nav Element ____________ */
nav{
    color: #5a6570;
}

/* Post Details */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

/*________________  Footer __________________ */
.dark-bg {
    background-color: #5a6570;
}

.social-link{
    color: #e5e7ea;
    text-decoration: none;
    font-size: 1.2rem;
   
}   

.social-link:hover{
    color:#364049 ;
}
footer{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}