body {
    background-color: #e5e7ea;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #5a6570;
}

.active{
    border-bottom: 1px solid #184E20;
    background-color: #FF6B6B;
    color: white;
    font-weight: 900; 
}

/*_______________ Logo _________________ */
#life{
    font-family:'Great Vibes', cursive;
    font-size: 48px;
    font-weight: 400;
    color: #5a6570;
    
}
/*____________ Post Card _____________*/
.recipe-link{
    font-size: 52px;
    color: #FF6B6B;
    text-decoration: none;
}
.date_created{
    margin-right: 50px;
}

.post-image{
    width: 90%;
    height: 250px;
}
.author{
    margin-right: 30px;
}
.details-img{
    width:100%;
    height: 250px;
}
a:hover{
    color: #0698a8;
}

/*_______________  Nav Element ____________ */
nav{
    color: #5a6570;
}

/* Post Details */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

/*__________ form ____________*/
form{
    width: 100%;
}

.changerecipe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.changerecipeform{
    width: 60%;
}



/*____________ Recipe Details Page __________*/
.recipeTitleBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipeTitle {
    margin-right: 20px;
}


/*________________  Footer __________________ */
.dark-bg {
    background-color: #5a6570;
}

.social-link{
    color: #e5e7ea;
    text-decoration: none;
    font-size: 1.2rem;
   
}   

.social-link:hover{
    color:#364049 ;
}
footer{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/*_______________- Signup form ________________*/
#usernotice{
    padding: 5px;
    font-size: x-small;
    color: rgb(216, 64, 64);
}