{% extends 'base.html' %}
{% load static %}
{% block title %} Delete recipe {% endblock%}
{% block content %}

{% load crispy_forms_tags %}
<h1>Delete: {{recipe.title }} </h1>
{% if user.is_authenticated %}
<div class="form-group">
    <form method="POST" action="{% url 'deleterecipe' slug=recipe.slug %}">
        {% csrf_token %}
        <strong>Are you sure you want to delete this recipe?</strong><br><br>
        <button>Yes</button>
        <button><a href="{% url 'home' %}">No</a></button>
    </form>
</div>

{% else %}

<div class="text-center">You cannot delete a post here. Signup to become a member of the community.</div>

{% endif %}


{% endblock %}