{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Recipe Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <a href="{% url 'recipe-detail' recipe.slug %}" class="recipe-link" aria-label="Link to the Recipe detail page">
                                    <h2 class="card-title">{{ recipe.title }}</h2>                                 
                                </a>
                                {% if "placeholder" in recipe.recipe_image.url %}
                                <img class="card-img-top post-image"
                                    src="{% static 'images/africa.webp' %}" alt="Recipe Placeholder Image">
                                {% else %}
                                <img class="card-img-top post-image" 
                                    src=" {{ recipe.recipe_image.url }}" alt="Recipe Image">
                                {% endif %}
                                <div class="image-flash">  
                                    <p class="text-center">{{ recipe.description }}</p> 
                                                             
                                    <p><span class="author">Posted By: {{ recipe.author }}</span>
                                        <span>
                                        {% if user.is_authenticated %}
                                        <a href="{% url 'updaterecipe' recipe.slug %}">
                                            <i class="fas fa-edit me-2"></i>
                                        </a> 
                                           
                                        
                                        <a href="{% url 'deleterecipe' recipe.slug %}">
                                            <i class="fas fa-trash me-2"></i>
                                        </a>
                                        {% endif %}
                                        </span>
                                    </p>
                                    
                                
                                    <p class="text-center">{{ recipe.author }}</p>
                                </div>
                               
  
                            </div>
                            
                            <hr>
                            <p class="card-text text-muted h6"><small><span class="date_created">{{ recipe.date_created }}</span> </small><i class="far fa-heart"></i>
                                {{ recipe.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    
</div>

{% endblock %}

